.smallbanner {
    color: white;
    text-align: center;
    height: 75vh;
    background-size: cover !important;
    align-items: center;
    justify-content: center;

}

.bannertext {
  text-align: center;
  font-size: 50px;
  margin-top: 0px;
  padding-top: 30px;
}

.bannertext2 {
  text-align: center;
  font-size: 120px;
  margin-top: 0px;
  padding-top: 150px;
  padding-bottom: -300px;
}

.createbutton {
  color: white;
  border:none;
  border-radius: 12px;
  position:relative;
  height: 60px;
  font-size: 1.6em;
  cursor: pointer;
  transition: 800ms ease all;
  outline:none;
  padding: 15px;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
  top: 55px;
  text-decoration: none;
}

.createbutton:hover {
  text-decoration: none;
  color: white;
  padding: 20px;
}
