<div id="smallbanner">
<br>
<br>
<br>
<br>
  <h1 class="fontsmallbanner"> Edit your booking </h1>
  <p class="fontsmallbanner"></p>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
      <div class="search-box">
        <%= render 'bookings/form', venue: @venue, booking: @booking %>
      </div>


    </div>
  </div>
</div>
