<div id="smallbanner">
<br>
<br>
<br>
<br>
  <h1 class="fontsmallbanner"> Find here all your venue's bookings </h1>
  <p class="fontsmallbanner"></p>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">

<% @bookings.each do |b| %>
  <p><%= b.initial_date %></p>
  <p><%= b.final_date %></p>
  <p><%= b.user.email %></p>
  <p><%= b.price %></p>
  <% end %>

<div class="quick-button">Edit</div>
<div class="quick-button">Delete</div>
</div>

</div>
