<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
      <div id="smallbanner">
      <br>
      <br>
      <br>
      <br>
        <h1 class="fontsmallbanner"> Book this venue </h1>
        <p class="fontsmallbanner"></p>
      <br>
      <br>



      <div class="search-box">
        <%= render 'bookings/form', venue: @venue, booking: @booking %>
      </div>


		</div>
	</div>
</div>
</div>









