<div id="smallbanner">
<br>
<br>
<br>
<br>
  <h1 class="fontsmallbanner"> Here's the booking of this venue  </h1>
  <p class="fontsmallbanner"></p>
<br>
<br>

<p><%= @booking.initial_date %></p>
<p><%= @booking.final_date %></p>
<p><%= @booking.user.email %></p>
<p><%= @booking.price %></p>
