<div id="smallbanner">
<br>
<br>
<br>
<br>
<br>
  <h1 class="fontsmallbanner"> Here's the booking of this venue  </h1>
  <p class="fontsmallbanner"></p>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
 <h3> Start date: <%= @booking.initial_date %> </h3>
  <h3> End date: <%= @booking.final_date %> <h3>
  <h3> Email: <%= @booking.user.email %> <h3>
  <h3> Total price: R$ <%= @booking.price %> <h3>
</div>
</div>
