<footer class="footer">
  <h1 class="text">THE AIRBNB OF VENUES</h1>
  <h2 class="text2">&copy;MADE IN RIO</h2>
  <h2 class="text3">-POWERED BY THE DOPCAST TEAM-</h2>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</footer>
