<%=  form_tag(venues_path, method: "get") do %>


  <input type="search" name="query" id="address" class="form-control" placeholder="Where's the party tonight?" />
  <button type="submit" class="searchButton">
    <i class="fa fa-search"></i>
  </button>
<% end %>
