<div class="card">
  <div class="card-category"> <%= venue.category %> </div>
  <div class="card-name"><%= link_to venue.name, venue_path(venue) %></div>
  <div class="card-address"><%= venue.address %></div>
  <div class="card-price">R$ <%= venue.price %></div>
</div>
