<div id="smallbanner">
<br>
<br>
<br>
<br>
<br>
<br>
  <h2 class="fontsmallbanner"> Your venues </h2>
  <p class="fontsmallbanner"></p>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
<!--     <h2> Here are listed the venues you created </h2>
 --><br>

    <% @venues.each do |venue| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
         <%= render 'venues/card', venue: venue %>
        </div>
      </div>
    <% end %>
</div>
</div>
