h1{
  font-family: "Arial";
  font-size: 60px;
  font-weight: normal;
}

h2{
  font-family: "Arial";
  font-size: 40px;
  font-weight: normal;
  margin-top: 0px;
}

h3{
  font-family: "Arial";
  font-size: 30px;
  font-weight: normal;
}

p{
  font-family: "Arial";
  font-size: 20px;
  font-weight: normal;
}

.fontsmallbanner {
  color: white;
  text-align: center;
}
