.footer {
    // margin: 0;
    margin-top: 200px;
    border-width: 25px;
    background: #29003C;
    height: 100px;
    width: 100%;
    height: 230px;
    padding: 20px 0px;
    // bottom: 0;
}

.text {
  color: #fff;
  font-size: 55px;
  transition-duration: 0.2s;
  text-align: center;
  margin: 0px;
  padding-top: 30px;
}

.text2 {
  color: #fff;
  font-size: 15px;
  transition-duration: 0.2s;
  text-align: center;
  margin: -10px;
  padding-top: 20px;

}

.text3 {
  color: #fff;
  font-size: 25px;
  transition-duration: 0.2s;
  text-align: center;
}

.footer-links {
  color: #FA944B;
  font-size: 25px;
  transition-duration: 0.2s;
  text-align: center;
}
