@import url(https://fonts.googleapis.com/css?family=Roboto);
$brand-color-1: #1C6663;
$brand-color-2: #053D48;
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

.outer-container {
  background-color: $brand-color-2;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: $brand-color-1;
  width: 600px;
  height: 320px;
  display: flex;

  .form-container.active {
    margin-left: 275px;
  }
  .form-container {
    margin-left: 25px; //275px
    background-color: white;
    height: 380px;
    width: 305px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    transition: margin-left 1.5s;

    .fire {
      top: -75px;
      position: absolute;
      z-index: 0;

      svg {
       width: 300px;
       height: auto;
       visibility: hidden;
      }
    }
    .form-item {

      form {
        z-index: 2;
        position: relative;

        &.form-sign-up {
          margin-top: 30px;
          display: none;
        }
        input {
          display: block;
          padding: 10px;
          width: 250px;
          margin-top: 5px;
          margin-bottom: 10px;
          margin-left: 5px;
          margin-right: 5px;
        }

        .btn {
          cursor: pointer;
          display: block;
          padding: 10px;
          width: 250px;
          margin: 5px;
          text-align: center;
          border: 2px solid $brand-color-1;
          background-color: $brand-color-1;
          color: white;
          opacity: 1;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }

  }

  .info-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    .info-item {
      color: white;
      display: flex;
      align-content: center;
      align-items: center;
      flex-direction: column;
      font-weight: 500;
      font-size: 20px;
      position: relative;
      z-index: 1;
    }

    .log-in {
      text-align: center;
      margin-right: 40px;
    }

    .sign-up {
      margin-left: 40px;
      text-align: center;
    }

    .btn {
      cursor: pointer;
      background-color: transparent;
      width: 60px;
      padding: 10px 15px;
      border: 1px solid white;
      font-size: 16px;
      opacity: 1;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
.tree {
  height: auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 0;
  bottom: 30px;

  .leaves{
    z-index: 1;
    animation-delay: 0.5s;
    animation-duration: 1s;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100px 100px 100px;
    border-radius: 30%;
    border-color: transparent transparent #6B8E23 transparent;
    position: relative;
    bottom: 40px;
    &:before {
      content: " ";
      border-style: solid;
      border-width: 0 65px 100px 65px;
      border-radius: 30%;
      border-color: transparent transparent #6B8E23 transparent;
      position: absolute;
      left: -65px;
      top: -100px;
    }
    &:after {
      content: " ";
      border-style: solid;
      border-width: 0 85px 100px 85px;
      border-radius: 30%;
      border-color: transparent transparent #6B8E23 transparent;
      position: absolute;
      left: -85px;
      top: -50px;
    }
  }

  .trunk {
    z-index: 0;
    width: 100px;
    height: 50px;
    background-color: #8B4513;
    position: absolute;
    bottom: 0px;
  }

}
