.mapboxgl-popup {
  max-width: 280px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-popup-content h3 {
  font-size: 26px;
}

.main-container h2 {
  margin-left: 20px;
}