#map {
  flex: 0 0 450px;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  height: 100vh;
  top: 0 !important;
  left: 0px;
}

.mapboxgl-popup {
  max-width: 250px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-popup-content h3 {
  font-size: 26px;
}

.main-container {
  display: flex;
}

